# Python ka Chilla with #Baba_Aammar
## Saving codes in jupyter.

**My First Program**

In [1]:
print(3+7)
print("Hello Tajammal")
print("This is my frist pythong program.")

10
Hello Tajammal
This is my frist pythong program.

**02 Operators**

In [2]:
print(9+5)
print(20-11)
print(7*3)
print(20/5)
print(20//5)
print(21%2)
print(5**3)

14
9
21
4.0
4
1
125

**03 Strings**

In [3]:
print("Tajammal Hussain")
print('Tajammul Hussain')
print('''Hussain Tajammal''')

Tajammal Hussain
Tajammul Hussain
Hussain Tajammal

**04 Comments**
*To comment lines select and pres (Ctrl+/)

In [4]:
# To comment out a line write "#" before the line.
# OR select the multiple lines and press "Ctrl + /" to comment out.
# The "#" sing will be placed before everyline.

print("Welcome to comment section")
print("Commenting section to check comments.") #Inline Comment
print(5+3)

Welcome to comment section
Commenting section to check comments.
8

**05 Veriables**

In [5]:
#veriables: objects containing specific values.
x=2 #numaric or integer variable
print(x)

y="We are learning python with Ammar Baba" #string veriable
print(y)

x=x+10 #x=12  #addition in previous veriable value.
print(x)

#type / class of veriables
type(x)
print(type(x))

print(type(y))



# Rules for defining of variables
#1- Variable name should contains letters, numbers or underscores.
#2- Do not start with numbers.
#3- Spaces are not allowed.
#4- Don't use keywords used in functins (e.g. print, pass, media, etc...)
#5- Should be short and descrptive
#6- case senstivity (Lowercase, Uppercase letter, lowercase letters should be used.)

fruit_basket="Mangoes"
print(fruit_basket)
print(type(fruit_basket))

2
We are learning python with Ammar Baba
12
<class 'int'>
<class 'str'>
Mangoes
<class 'str'>

**06 Input Veriables**

In [6]:
fruit_basket="Mangoes"
print(fruit_basket)

#input variables to get data by typing

fruit_basket=input("What is your favourite fruit? ")
print(fruit_basket)

#input function of 2nd stage
name=input("What is your name? ")
greetings="Hello!"
print(greetings, name)

#input function of 2nd stage method 2.
name=input("What is your name? ")
print("Hello!", name)


#3rd stage of input function
name=input("What is your name? ")
age=input("How old are you? ")
greetings="Hello!"
print(greetings, name, ", You are still young.")

Mangoes

What is your favourite fruit?  Mangoes

Mangoes

What is your name?  Tajammal

Hello! Tajammal

What is your name?  Tajammal

Hello! Tajammal

What is your name?  Tajammal
How old are you?  29

Hello! Tajammal , You are still young.

**07 Conditional Logical Operators**

In [7]:
#conditional logical operators.
#logical operators are "true or false" or "yes or no" or "0 or 1"
#equal to                   ==
#not equal to               !=
#greater than               >
#less than                  <
#greater than or equal to   >=
#less than of equal to      <=

# #is 4 equal to 4
# print(4==4)
# print(3!=5)
# print(7<9)
# print(7>9)
# print(6<=12)
# print(6>=12)

# #application of logical operators
# hammad_age=4
# age_at_school=5
# print(hammad_age == age_at_school)

#input function and loigcal operators
age_at_school=5
hammad_age=input("What is age of Hammad? ")

#converting veriable type from string to integer.
hammad_age=int(hammad_age)
print(type(hammad_age))
print(age_at_school==hammad_age)

What is age of Hammad?  5

<class 'int'>
True

**08 Type Conversion**

In [8]:
# # Type conversion
# x=5         #integer
# y=10.2      #float
# z="Hello"   #string
# x=x*y
# print(x, type(x))

# #implicit type conversion
# age=input("What is your age? ")
# print(age, type(age))
# age=int(age)
# print(age, "Type of age is:", type(age))

#explicit type conersiona
age=input("What is your age? ")
print(age, "Type of age is: ", type(int(age)))

What is your age?  9

9 Type of age is:  <class 'int'>

**09 if elif else**

In [9]:
required_age_school=5
hammad_age=6

# Question: can hammad go to school?
if hammad_age==required_age_school:
    print("Hammad can go to school.")
elif hammad_age>required_age_school:
    print("Hammad should join higher classes.")
else:
    print("Hammad is underage.")

Hammad should join higher classes.

**10 Functions**

In [10]:
# #defining a function
# #1 method
# def print_codanics():
#     print("We are learning python with Aammar.")
#     print("We are learning python with Aammar.")
#     print("We are learning python with Aammar.")

# print_codanics()

# # 2 method
# def print_codanics():
#     text="We are learningp python with Aammar"
#     print(text)
#     print(text)
#     print(text)

# print_codanics()

# # 3 mehtod
# def print_codanics(text):
#     print(text)
#     print(text)
#     print(text)
# print_codanics("We are learning python with Aammar")


#defining a function with if, elif, else statement.
def school_calculator(age):
    if age==5:
        print("Hammad can join the school.")
    elif age>5:
        print("Hammad should go high school.")
    else:
        print("Hammad is still a baby.")
school_calculator(2)

#defining a function of future age
def future_age(age):
    new_age=age+20
    return new_age
predicted_future_age=future_age(9)
print(predicted_future_age)

#Completed.

Hammad is still a baby.
29

**11 loops**

In [11]:
#loops, while and for loops.
#while loop

# x=0
# while (x<=5):
#     print(x)
#     x=x+1

# #for loop
# for x in range(5,10):
#     print(x)

#array for loop
days= ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
for d in days:
    # if d=="Tue": break # stops the loop when found Friday
    if d=="Thu": continue #stops the loop on Thu and then continue from Fri
    print(d)

Sun
Mon
Tue
Wed
Fri
Sat

**12 Import of Libraries**

In [12]:
#import Libraries

#if you want to print the value of pi.

#math library
import math
x=5
print("The value of pi is: ", math.pi)

#statistics library
import statistics
x=[250,300,10,320]
print("The mean of mentinoed values is: ", statistics.mean(x))

#important libraries
#numpy, pandas

The value of pi is:  3.141592653589793
The mean of mentinoed values is:  220

**13 Trouble Shooting**

In [13]:
#Trouble Shooting

#type 1 error
# print(We are learning python with Aammar) #this will show syntax error due to inverted commas.

#type 2 error
# print(25/0) #run time error (zero division error)

#type 3 error
name="Tajammal"
print("Hello name") #symmentic error, using variables as text string.
print("Hellow", name)
print("Hello"+name) #use "+" instead "," to remove space between two values.

#trouble_shooting completed.

Hello name
Hellow Tajammal
HelloTajammal